%h1 Music Notation
%p
  If you think in music, this add-on is for you. It is based on the simple and widely used abc notation.
%p
  You can read about abc notation here: 
  = link_to('http://en.wikipedia.org/wiki/Abc_notation', 'http://en.wikipedia.org/wiki/Abc_notation') + '.'
%p
  With this add-on you can quickly jot down melodies, rhythms and harmonies that come to mind.  And like the rest of Crumple you can tag it, stash it in a project and search for it later.
%p
  = image_tag 'music_notation/icon_512.png'