- if @platform.nil?
  - title "Music Notation Thought"

%p
  %strong Body:
%p<= @music_notation_thought.body
%p
  %strong Search Text:
%p<= @music_notation_thought.search_text

- if @platform.nil?
  %p
    = link_to "Edit", edit_music_notation_thought_path(@music_notation_thought)
    |
    = link_to "Destroy", @music_notation_thought, :confirm => 'Are you sure?', :method => :delete
    |
    = link_to "View All", music_notation_thoughts_path
